{% extends "base.html" %}

{% block title %}
    <title> About Us</title>
{% endblock %}

{% block content %}
    <h1 style="color: rebeccapurple;">About Us</h1>
    <p>
        ยินดีต้อนรับสู่ เว็บไซต์บันทึกข้อมูลประชากร ผม Eakkyz,นักเรียนที่มีความมุ่งมั่นและมีความหลงใหลในการศึกษาและพัฒนาตนเอง ผลงานนี้ถือเป็นการนำเสนอที่เราทุ่มเทแรงกายแรงใจเพื่อใช้ในการสมัครเข้าศึกษาต่อในระดับมหาวิทยาลัย
        
        ผมเชื่อว่า การศึกษาคือกุญแจสำคัญในการเปิดประตูสู่อนาคต และผมตั้งใจที่จะสร้างผลงานที่ไม่เพียงแค่สะท้อนถึงความสามารถของผม แต่ยังแสดงให้เห็นถึงความคิดสร้างสรรค์   เเละปรับปรุงเพื่อให้ดีที่สุดสำหรับการสมัครเข้าเรียนในสถาบันที่ผมใฝ่ฝัน
        
        ในผลงานนี้ คุณจะได้พบกับความตั้งใจและความพยายามไม่ว่าจะเป็นการนำเสนอความรู้ด้านต่าง ๆ ประสบการณ์ที่ผม เเละผมหวังว่าผลงานนี้จะสร้างความประทับใจและช่วยให้เราได้ก้าวเข้าสู่วิถีทางการศึกษาในระดับที่สูงขึ้น
        
        ขอบคุณที่เข้ามาเยี่ยมชมและสนับสนุนกระผมในเส้นทางการเรียนรู้และการพัฒนาตนเอง!
        
        ผู้จัดทำ Eakkyz
</p>
   
{% endblock %}





